<tr id="walk-row-<%= month_walking_row_counter+1 %>" class="data-rows">
	<td class="walk-data"><%= short_date month_walking_row[:date] %></td>
	<td class="walk-data"><%= month_walking_row[:steps] %></td>
	<td class="walk-data"><%= meters_to_miles month_walking_row[:distance] %></td>
	<td class="walk-data"><%= month_walking_row[:coins] %></td>
</tr>
