<div class="row">
	<%= render 'daily_leaderboard' %>
	<%= render 'monthly_leaderboard' %>
</div>

<h2 class="headline">Your Walking Data This Month</h2>
<div class="row">
	<div class="col-md-6 col-lg-6">
		<table class="moves-table">
			<tr class="table-header">
				<td>Date</td>
				<td>Steps</td>
				<td>Distance(mi)</td>
				<td>Coins</td>
			</tr>
			<% @walk_month_summary.each do |day| %>
				<tr class="data-rows">
					<td class="walk-data"><%= short_date day[:date] %></td>
					<td class="walk-data"><%= day[:steps] %></td>
					<td class="walk-data"><%= meters_to_miles day[:distance] %></td>
					<td class="walk-data"><%= day[:coins] %></td>
				</tr>
			<% end %>
		</table>
	</div>

	<div class="col-md-6 col-md-offset-0 col-lg-offset-0 col-lg-6">
		<canvas id="myChart" width="600" height="400"></canvas>
		<%= link_to "This month's moves", month_path, remote: true, id:"chart-link" %>
	</div>
</div>
